.profile__info {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 680px) {
    .profile__info {
        align-items: center;
      }
}