.popup__img {
  display: block;
  max-width: 816px;
  max-height: 540px;
}

.popup__img-title {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.place__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("/images/Trash.svg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 18px;
  height: 19px;
  cursor: pointer;
}

.place__delete-button:hover {
  opacity: 0.5;
  transition: 3s;
}
