.profile__subtitle {
  max-width: 336px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding-top: 16px;
  /**/
  display: flex;
  align-items: center;
  justify-content: center;
}

p {


  text-transform: uppercase;
  background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMngxOWlhdHg4enJ1ZG5ocmpqZ2gzb2Q3ZHlhYjlwOWdhazIyY2lweCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8QiD3u639scE243ChX/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 680px) {
  .profile__subtitle {
    font-size: 14px;
    text-align: center;
    padding-top: 14px;
  }
}