.profile__subtitle {
  max-width: 336px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding-top: 16px;
}

@media screen and (max-width: 680px) {
  .profile__subtitle {
    font-size: 14px;
    text-align: center;
    padding-top: 14px;
  }
}