.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
  }
}
