.card__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../../../images/Trash.svg");
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 18px;
    height: 19px;
    cursor: pointer;
}

.card__delete-button:hover {
    opacity: 0.6;
    transition: 1s;
}
