.popup__close-button {
  background: transparent url('../../../images/CloseButton.svg') no-repeat center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  cursor: pointer;
}
@media (max-width: 680px) {
    .popup__close-button {
        background-size: 20px;
        right: -12px;
      }
}
.popup__close-button:hover {
  opacity: 0.6;
  transition: 1s;
}