.card__like {
  background: transparent url("../../../images/Like.svg") no-repeat center;
  background-size: 22px;
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: none;
}
.card__like:hover {
  opacity: 0.5;
  transition: 1s;
}