.element {
  min-width: 282px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #c4c4c4;
  position: relative;
  margin: 0;
  background-color: #fff;
}
